<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      * {
        box-sizing: border-box;
      }
      h2 {
        text-align: center;
        text-transform: uppercase;
      }

      input[type="text"] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }

      label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }

      input[type="submit"] {
        background-color: #04aa6d;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        /* float: center; */
        margin-left: 50%;
      }

      input[type="submit"]:hover {
        background-color: #45a049;
      }

      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }

      .col-25 {
        float: left;
        width: 15%;
        margin-top: 6px;
      }

      .col-75 {
        float: left;
        width: 70%;
        margin-top: 6px;
      }

      /* Clear floats after the columns */
      .row::after {
        content: "";
        display: table;
        clear: both;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up User</title>
  </head>
  <body>
    <h2>Sign Up User</h2>
    <hr />
    <div class="container">
      <form action="/user" method="post">
        <div class="row">
          <div class="col-25">
            <label for="fname">Enter Name</label>
          </div>
          <div class="col-75">
            <input type="text" required name="name" placeholder="Your name.." />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">Enter Email</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              required
              name="email"
              placeholder="Your email.."
            />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">Enter Password</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              required
              name="password"
              placeholder="Your Password.."
            />
          </div>
        </div>
        <br />
        <div class="row">
          <input type="submit" value="Sign Up" />
        </div>
      </form>
    </div>
  </body>
</html>
